{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Portfolio</h1>
    <hr>
    <div class="row g-4">
        {% for project in projects %}
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="shadow p-4 rounded h-100">
                <h5>{{ project.title }}</h5>
                <h6>Title: {{ project.subtitle }}</h6>
                <p class="text-muted">{{ project.description }}</p>
                {% if project.preview_link %}
                <a href="{{ project.preview_link }}" class="btn btn-sm btn-outline-dark mt-2" target="_blank">
                    Preview <i class="fa-solid fa-arrow-up-right-from-square ms-2"></i>
                </a>
                {% endif %}
                {% if project.live_link %}
                <a href="{{ project.live_link }}" class="btn btn-sm btn-outline-dark mt-2" target="_blank">
                    Live <i class="fa-solid fa-arrow-up-right-from-square ms-2"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
