:root {
  /* --main-color: #121212; */
}
body{
    font-family: "Monda", sans-serif!important;
}
nav a{
    color: var(--primary-text-color)!important;
    font-weight: 500!important;
}
nav a:hover{
    text-shadow: 2px 2px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
}
/*----- Home --------*/
.container #home{
    margin: 103px 0px!important;
}


/*--------- Media Query -------------*/
@media (max-width: 575.98px) {
    .container #home {
        margin: 20px 0px !important;
    }
    #home img {
        width: 50%;
    }
    #home h1,h2{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container #home {
        margin: 20px 0px !important;
    }
    
    #home img {
        width: 60%;
    }
    #home h1,h2{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container #home {
        margin: 15px 0px !important;
        text-align: center;
    }
    #home .col-lg-3,
    #home .col-lg-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #home img {
        width: 30%;
        margin: 20px 0px;
    }

    #home .skills .col-md-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}


